<header>
  <div id="tituloContainer">
    <img src="./../assets/img/pokeball azul.svg">
    <h1>Pokédex</h1>
    <img src="./../assets/img/pokeball azul.svg">
  </div>
  <a href="https://www.youtube.com/watch?v=hOpyu3n9a7w&ab_channel=Pok%C3%A9monLatam">Pokémon Champions|Tráiler de presentación</a>
</header>
<router-outlet></router-outlet>
<footer>
  <p><kbd>A</kbd>Enlace|<a href="https://pokemon.fandom.com/es/wiki/Pok%C3%A9mon_Wiki" target="_blank">a Pokemón Wiki Pokemón Company</a></p>
	<p><kbd>X</kbd><a href="#" target="_blank">GitHub</a></p>
</footer>
